* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
}

.user {
  border-bottom: dotted 7px skyblue;
  margin: auto;
  margin-bottom: 10px;
  width: 100px;
}

img {
  margin: auto;
}

.log-out {
  padding: 10px;
  background-color: turquoise;
  color: aliceblue;
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.log-out:hover {
  cursor: pointer;
  background-color: rgb(19, 155, 141);
}

.admin {
  padding: 10px;
  background-color: turquoise;
  color: aliceblue;
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.admin:hover {
  cursor: pointer;
  background-color: rgb(19, 155, 141);
}
